@import "../../css/style.scss";

.menuf__item {
  color: $white;
  margin-right: 2.5rem;
  position: relative;

  &:hover {
    color: $gray-text;
  }

  & > div {
    font-family: $lemonMilk;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
  }
}
