@import "../../css/style.scss";

.Button {
  background-color: $primary-color;
  width: 20rem;
  font-family: $uniSans;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 1rem;
  font-weight: 900;
  color: $white;
  border: none;
  letter-spacing: 3px;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  &:hover {
    background: #df267a;
  }
}
.Outline {
  border: 2px solid $primary-color;
  background: transparent;
  color: $primary-color;
  &:hover {
    color: $white;
  }
}
