@import "../../css/style.scss";

.Button {
  background-color: $primary-color;
  width: 20rem;
  font-family: $uniSans;
  transition: 0.4s ease;
  font-size: 1rem;
  font-weight: 900;
  color: $white;
  letter-spacing: 3px;
  border: 1.5px solid $white;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  &:hover {
    background: #df267a;
  }
}
