.menuf {
  display: flex;
  align-items: center;
  & > div {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &::after {
      content: "";
      width: 0%;
      height: 3px;
      bottom: -2px;
      left: 50%;
      border-radius: 10px;
      transition: all 500ms ease;
      background-color: white;
      position: absolute;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__item:hover::after {
    left: 0%;
    width: 100%;
  }
  // &__icon:hover {
  //   font-size: 20px;
  //   transition: 0.5s;
  // }
}
