.menu {
  display: flex;
  align-items: center;
  & > div {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    &::after {
      content: "";
      width: 0%;
      height: 2px;
      bottom: 0%;
      left: 50%;
      border-radius: 10px;
      transition: all 500ms ease;
      background-color: white;
      position: absolute;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__item:hover::after {
    left: 0%;
    width: 100%;
  }
  &__icon:hover {
    font-size: 20px;
    transition: 0.5s;
  }
}
