@import "../../css/style.scss";

.meet-team {
  display: flex;
  background-color: $white;
  @include sectionPadding;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    & > h1 {
      font-family: $lemonMilk;
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: $black;
      @include atSmall {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      @include atlarge {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
    & > h3 {
      font-family: $lemonMilk;
      font-size: 1.2rem;
      color: $black;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
      @include atlarge {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }
    & > h2 {
      align-self: center;
      font-family: $trendex;
      width: 80%;
      font-size: 1.3rem;
      @include atSmall {
        width: 70%;
        font-size: 1.5rem;
      }
      @include atMedium {
        width: 70%;
        font-size: 1.7rem;
      }
      @include atlarge {
        width: 60%;
        font-size: 2rem;
      }
    }
    &__up-line {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 1.5px;
      height: 3rem;
      align-self: center;
      background-color: $black;
    }
    &__members {
      font-family: $trendex;
      font-size: 1rem;
      font-weight: 700;
      color: $black;
      & > p {
        display: block;
      }
      @include atlarge {
        font-size: 1.3rem;
      }
    }
    & > hr {
      width: 50%;
      align-self: center;
      background-color: $black;
      height: 3px;
      margin-top: 2rem;
      margin-bottom: 1rem;
      @include atSmall {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
      @include atMedium {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      @include atlarge {
        margin-top: 5rem;
        margin-bottom: 3rem;
      }
    }
  }
}
