@import '../../css/style.scss';

.navbar {
  background: transparent;
  height: 80px;
  display: flex;

  position: sticky;
  color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  &.active {
    background-color: $primary-color;
    opacity: 0.8;
  }
}
