@import "../../css/style.scss";

.navbar {
  //background: transparent;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in;

  &--hide {
    height: 0;
  }

  &.active {
    background-color: rgba(236, 0, 146, 0.1);
  }
  &__content {
    display: flex;
    align-items: center;
    &__ham {
      margin-left: 2rem;
    }
  }
}
