@font-face {
  font-family: "lemon-milk";
  src: url("../assets/fonts/LEMONMILK-Regular.otf");
}
@font-face {
  font-family: "trendex";
  src: url("../assets/fonts/TrendexSSi.ttf");
}
@font-face {
  font-family: "uniSans";
  src: url("../assets/fonts/Uni\ Sans\ Heavy.otf");
}
@font-face {
  font-family: "uniSansLight";
  src: url("../assets/fonts/Uni\ Sans\ Thin.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 5px;
  padding-right: 5px;
  @include atSmall {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include atMedium {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include atlarge {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
