$primary-color: #ec008c;
$secondary-color: #f9badf;
$gray-bg: #f0f0f0;
$gray-text: #c2b7b7;
$white: #fff;
$black: #222222;

$lemonMilk: "lemon-milk";
$trendex: "trendex";
$uniSans: "uniSans";
$uniSansLight: "uniSansLight";
