$primary-color: #ec008c;
$secondary-color: #f9badf;
$gray-bg: #f0f0f0;
$white: #fff;
$black: #222222;

$lemonMilk : "lemon-milk";
$trendex : "trendex";
$uniSans : "uniSans";
$uniSansLight : "uniSansLight";