@import "../../css/style.scss";

.footer {
  background-color: $gray-bg;
  width: 100%;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    & > h1 {
      font-family: $lemonMilk;
      font-size: 3rem;
    }
    & > h3 {
      margin-top: 1rem;
      font-family: $trendex;
      font-size: 1.5rem;
      color: $black;
    }
    & > p {
      font-family: $trendex;
      font-size: 1rem;
      width: 16rem;
      color: $black;
    }
  }
}
