@import "../../css/style.scss";

.cool-menu {
  width: 100%;
  height: 0;
  background-color: black;
  position: absolute;
  z-index: 100;
  top: -100vh;
  opacity: 0.8;
  left: 0;
  transition: all 0.3s ease;

  &--show {
    height: 100vh;
    top: 0;
  }
}
.containz {
  display: flex;
  background-color: black;
  margin-top: 10vh;
  width: 80%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 1 !important;
}
.containz--cool {
  width: 96%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}
.x {
  float: right;
  margin-right: 20vh;
  margin-top: 4vh;
}
