@import "../../css/style.scss";

.cool-menu {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  top: -100vh;
  left: 0;
  transition: all 0.3s ease;

  &--show {
    height: 100vh;
    top: 0;
  }
}
.containz {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10vh;
  width: 80%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}
.containz--cool {
  width: 96%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: $uniSans;
  font-weight: 900;
  object-fit: cover;
  padding: 10vh;
}
.containz--cool > div:hover {
  cursor: pointer;
}
.x {
  float: right;
  margin-right: 20vh;
  margin-top: 4vh;
}

.right--info {
  text-align: right;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  &--bigone {
    color: $white;
    font-size: 2rem;
  }
  &--smallone {
    color: #d2d4d2;
    font-size: 0.8rem;
  }
  &--smallone:hover {
    color: $white;
  }
}
.left--info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;

  &--email {
    color: $white;
    font-size: 2rem;
    &--small {
      font-size: 0.8rem;
      color: #d2d4d2;
    }
    &--small:hover {
      color: $white;
    }
  }
  &--phone {
    color: $white;
    font-size: 2rem;
    &--small {
      font-size: 0.8rem;
      color: #d2d4d2;
    }
    &--small:hover {
      color: $white;
    }
  }
  &--location {
    color: $white;
    font-size: 2rem;
    &--small {
      font-size: 0.8rem;
      color: #d2d4d2;
    }
    &--small:hover {
      color: $white;
    }
  }
}
