@import "../../css/style.scss";

.explore-our-works__content__item {
  position: relative;

  width: 100%;
  height: 25rem;
  background-color: aquamarine;
  cursor: pointer;
  transition: all 0.5s ease;
  transition-duration: 0.6s;
  &:hover {
    transform: scale(0.98);
  }
  &:hover &__img img {
    transform: scale(1.1);
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.8 ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5 ease;
      transition-duration: 0.5s;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    h2 {
      visibility: hidden;
      animation: fade 0.5s;
      color: $white;
      font-size: 2rem;
    }
  }
  &:hover &__overlay {
    background: rgba(0, 0, 0, 0.6);
    animation: fade 0.8s;
    h2 {
      visibility: visible;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
