@import "../../css/style.scss";

.large-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include atSmall {
      width: 80%;
    }
    &__title {
      text-align: center;
      color: $white;
      & > h1 {
        font-family: $lemonMilk;
        font-size: 1.8rem;
        width: 100%;
        @include atSmall {
          font-size: 3rem;
        }
        @include atMedium {
          font-size: 4.2rem;
        }
      }
      &--narrow {
        font-weight: 200;
        h3 {
          color: $black;
        }
      }
      & > h2 {
        font-family: $lemonMilk;
        font-size: 1.8rem;
        width: 100%;
        @include atSmall {
          font-size: 3rem;
        }
        @include atMedium {
          font-size: 4rem;
        }
      }
    }
    &__subtitle--black {
      color: $black !important;
      font-weight: 900 !important;
    }
    & > h3 {
      font-size: 1rem;
      font-family: $uniSansLight;
      font-weight: 200;
      color: $white;
      opacity: 0.9;
      text-align: center;
      text-transform: uppercase;
      padding-top: 2rem;
      @include atSmall {
        font-size: 1.2rem;
      }
      @include atMedium {
        font-size: 1.5rem;
      }
    }
  }
  &__scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
  }
}
